#page-carreiras {
	.btn {
		background-color: $cyan;
		border: 1px solid $cyan;

		&:hover {
			background-color: transparent;
			color: $cyan;
		}
	}

	.title-section {
		color: $cyan;
	}

	section#banner-1 {
		position: relative;
		padding: 134px 0;
		background-image: url('../img/carreiras/banner-1.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 60px 0;
		}

		p {
			font-family: $light;
			font-size: $font-32;
			line-height: $font-42;
			color: $white;
			width: 674px;
			max-width: 100%;
			margin-left: auto;

			@include media-breakpoint-down(lg) {
				font-size: $font-30;
			}

			@include media-breakpoint-down(md) {
			    font-size: $font-22;
    			line-height: $font-28;
			}

			@include media-breakpoint-down(sm) {
				max-width: 90%;
				margin-right: auto;
			}

			@include media-breakpoint-down(xs) {
				font-size: $font-18;
    			line-height: $font-24;
			}
		}
	}

	section#certificado {
		padding: 108px 0 118px;
		background-color: $white;
		background-image: url('../img/carreiras/certificado-background.jpg');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;

		@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

    	@include media-breakpoint-down(sm) {
			padding: 60px 0;
		}

		.title-banner {
			color: $blue;
		}

		.text-banner {
			color: $blue;
		}

		img {
			@include media-breakpoint-down(sm) {
				width: 80%;
			}

			@include media-breakpoint-down(xs) {
				width: 120px;
				margin-bottom: 25px;
			}
		}
	}

	section#banner-2 {
		padding: 93px 0 107px;
		background-color: $cyan;
		background-image: url('../img/carreiras/banner-2.jpg');
		background-position: top center;
    	background-size: cover;
    	background-repeat: no-repeat;

    	@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

    	@include media-breakpoint-down(sm) {
			padding: 60px 0;
			background-position: -40vw;
		}

		@include breakpoint(830px) {
			background-position: -55vw;
		}

		@include breakpoint(700px) {
			background-image: none;
		}

		.title-banner {
			color: $white;

			@include media-breakpoint-down(sm) {
				width: 312px;
				max-width: 100%;
			}

			@include breakpoint(700px) {
				width: auto;
				max-width: 420px;
			}
		}

		.text-banner {
			color: $white;
			
			@include media-breakpoint-down(sm) {
				width: 314px;
				max-width: 100%;
			}

			@include breakpoint(700px) {
				width: auto;
			}
		}
	}

	section#vagas {
		padding: 98px 0 166px;
		background-color: rgba($gray, 0.3);
		background-image: url('../img/carreiras/background-vagas.jpg');
		background-repeat: no-repeat;

		@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

		.title-section {
			padding-bottom: 110px;
		}

		.pd-column {
			
			@include media-breakpoint-down(md) {
				padding: 0 12.5%;
			}

			@include media-breakpoint-down(sm) {
				padding: 0;
			}

		}	

		.box {
			padding: 47px 69px 50px;
			background-color: $blue;
			width: 398px;
			max-width: 100%;
			display: inline-block;

			&.last {
				margin-bottom: 0;
			}

			@include media-breakpoint-down(lg) {
				padding: 30px 45px 35px;
				width: 336px;
			}

			@include media-breakpoint-down(md) {
				padding: 30px 28px 35px;
			}

			@include media-breakpoint-down(sm) {
				margin-bottom: 40px;	
			}

			@include media-breakpoint-down(xs) {
				margin-bottom: 25px;
				width: 90%;	
			}

			h3 {
				color: $cyan;
				font-family: $extraBold;
				font-size: $font-26;
				line-height: $font-33;
				letter-spacing: -0.5px;
				padding-bottom: 20px;

				@include media-breakpoint-down(lg) {
					font-size: $font-24;
					line-height: $font-31;
				}

				@include media-breakpoint-down(md) {
					font-size: $font-21;
					line-height: $font-28;
					padding-bottom: 15px;
				}
			}

			p {
				color: $white;
				font-family: $light;
				font-size: $font-18;
				line-height: $font-23;
				letter-spacing: -0.5px;
				padding-bottom: 40px;

				@include media-breakpoint-down(md) {
					font-size: $font-16;
					line-height: $font-21;
					padding-bottom: 30px;
				}
			}
		}
	}

	section#vantagens {
		padding: 100px 0 112px;

		@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 60px 0;
		}

		.title-section {
			padding-bottom: 86px;
		}

		.box {

			@include media-breakpoint-down(xs) {
				width: 90%;
				margin: auto;
				padding-top: 50px;
				text-align: center;

				&:first-child {
					padding-bottom: 20px;
				}
			}

			img {
				padding-left: 20px;

				@include media-breakpoint-down(sm) {
					width: 80px;
					height: 76px;
				}

				@include breakpoint(680px) {
					width: 70px;
					height: 63px;
				}

				@include media-breakpoint-down(xs) {
					padding-left: 0;
				}
			}

			.no-padding-mobile {
				@include media-breakpoint-down(xs) {
					padding: 0;
				}
			}

			.small-img {
				padding-top: 37px;

				@include media-breakpoint-down(xs) {
					padding-top: 0;
				}
			}

			h3 {
				padding-top: 34px;
				font-family: $extraBold;
				font-size: $font-24;
				line-height: $font-30;
				color: $blue;
				letter-spacing: -0.5px;
				min-height: 94px;

				@include media-breakpoint-down(sm) {
					font-size: $font-20;
					line-height: $font-26;
				}

				@include breakpoint(680px) {
					font-size: $font-18;
					line-height: $font-24;
					letter-spacing: -1px;
				}

				@include media-breakpoint-down(xs) {
					padding-top: 10px;
					min-height: auto;
				}
			}

			p {
				padding-top: 25px;
				font-family: $light;
				font-size: $font-16;
				line-height: $font-20;
				color: $dark;
				letter-spacing: -0.8px;

				@include media-breakpoint-down(sm) {
					font-size: $font-15;
					line-height: $font-19;
				}

				@include media-breakpoint-down(xs) {
					padding-top: 10px;
				}
			}
		}
	}

	section#valores {
		position: relative;
		padding: 78px 0 137px;
		background-image: url('../img/carreiras/banner-valores.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 60px 0;
		}

		.title-section {
			padding-bottom: 105px;
		}

		.box {
			width: 553px;
			max-width: 100%;

			p {
				font-family: $light;
				font-size: $font-18;
				line-height: $font-23;
				color: $white;
				padding-bottom: 26px;
				letter-spacing: -0.5px;

				@include media-breakpoint-down(sm) {
					font-size: $font-16;
					line-height: 21px;
				}

				@include media-breakpoint-down(xs) {
					width: 90%;
					margin: auto;
				}

				span {
					font-family: $extraBold;
				}
			}
		}
		
		.toLeft {
			margin-right: auto;
		}

		.toRight {
			margin-left: auto;
		}
	}

	section#newsletter {
		padding: 69px 0 83px;
		background-color: $blue;

		@include media-breakpoint-down(md) {
			padding: 40px 0;
		}

		h2 {
			font-family: $extraBold;
			font-size: $font-42;
			line-height: $font-42;
			color: $white;
			letter-spacing: -0.5px;

			@include media-breakpoint-down(lg) {
				font-size: $font-33;
				line-height: $font-33;
			}

			@include media-breakpoint-down(md) {
				font-size: $font-28;
				line-height: $font-28;
			}

			@include media-breakpoint-down(sm) {
				font-size: $font-24;
				line-height: $font-24;
			}

			@include breakpoint(600px) {
				font-size: $font-18;
			    line-height: $font-22;
			    padding-top: 10px;
			}

			@include media-breakpoint-down(xs) {
				text-align: center;
				padding-top: 0;
				padding-bottom: 20px;
			}
		}

		button {
			margin-top: 14px;

			@include media-breakpoint-down(lg) {
				margin-top: 0;
			}
		}
	}

	section#curriculo {
		padding: 98px 0 311px;
		background-image: url('../img/carreiras/background-curriculo.jpg');
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;

		@include media-breakpoint-down(md) {
			padding: 90px 0;
		}

		@include media-breakpoint-down(sm) {
			padding: 60px 0;
		}

		.title-section {
			padding-bottom: 135px;
		}

		.text-curriculo {
			font-family: $extraBold;
			color: $blue;
			line-height: $font-56;
			font-size: $font-48;
			letter-spacing: -0.5px;
			padding-top: 70px;

			@include media-breakpoint-down(lg) {
				font-size: 42px;
    			line-height: 50px;
			}

			@include media-breakpoint-down(md) {
				font-size: 32px;
    			line-height: 40px;
			}

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}

		#curriculo-form {
			
			input {
				display: block;
				padding: 22px 0 24px 40px;
			    border: none;
			    border-radius: 35px;
			    width: 536px;
			    max-width: 100%;
			    color: $dark;
			    font-family: $light;
			    line-height: 22px;
			    font-size: $font-18;
			    margin-bottom: 10px;

			    @include media-breakpoint-down(md) {
			    	width: 100%;
			    }

			    @include media-breakpoint-down(sm) {
			    	width: 75%;
			    	margin-left: auto;
			    	margin-right: auto;
			    }

			    @include media-breakpoint-down(xs) {
			    	width: 90%;
			    }

			    @include media-breakpoint-down(xs) {
			    	line-height: 20px;
			    	font-size: $font-16;
			    	padding: 18px 0 18px 30px;
			    	max-width: 90%;
			    }

			    &.erroInput {
			    	border: 1px solid red;
			    }

			    &.margin {
			    	margin-bottom: 29px;

			    	@include media-breakpoint-down(xs) {
			    		margin-bottom: 10px;
			    	}
				}
			}
		}

		.add-file {
			float: left;
			margin-top: 23px;
			cursor: pointer;
			margin-bottom: 29px;

			@include media-breakpoint-down(sm) {
				margin-bottom: 20px;
			}

			@include media-breakpoint-down(xs) {
				float: none;
				margin-bottom: 20px;
				text-align: center;
			}
			
			svg {
				display: inline-block;
				vertical-align: middle;
			}

			p {
				display: inline-block;
				vertical-align: middle;
				font-family: $extraBold;
				font-size: $font-18;
				line-height: 22px;
				color: $cyan;
				letter-spacing: -0.5px;
			}
		}

		.btn {
			float: right;

			@include media-breakpoint-down(xs) {
				float: none;
			}
		}
	}
}