@font-face {
    font-family: 'muli_extraboldregular';
    src: url('../fonts/muli-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/muli-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muli_lightregular';
    src: url('../fonts/muli-light-webfont.woff2') format('woff2'),
         url('../fonts/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// custom fonts
$light: 'muli_lightregular', sans-serif;
$extraBold: 'muli_extraboldregular', sans-serif;

// sizes
$base-font-size: 16px;
$base-font-size-mobile: 12px;

$font-9: 0.563rem;
$font-10: 0.625rem;
$font-11: 0.688rem;
$font-12: 0.750rem;
$font-13: 0.813rem;
$font-14: 0.875rem;
$font-15: 0.938rem;
$font-16: 0.998rem;
$font-17: 1.063rem;
$font-18: 1.125rem;
$font-19: 1.188rem;
$font-20: 1.250rem;
$font-21: 1.312rem;
$font-22: 1.375rem;
$font-23: 1.437rem;
$font-24: 1.500rem;
$font-25: 1.563rem;
$font-26: 1.625rem;
$font-28: 1.750rem;
$font-29: 1.812rem;
$font-30: 1.875rem;
$font-31: 1.937rem;
$font-32: 2.000rem;
$font-33: 2.062rem;
$font-34: 2.125rem;
$font-35: 2.188rem;
$font-36: 2.250rem;
$font-37: 2.312rem;
$font-38: 2.375rem;
$font-40: 2.500rem;
$font-42: 2.625rem;
$font-45: 2.813rem;
$font-46: 2.875rem;
$font-48: 3.000rem;
$font-50: 3.125rem;
$font-53: 3.125rem;
$font-54: 3.225rem;
$font-55: 3.437rem;
$font-56: 3.355rem;
$font-58: 3.525rem;
$font-60: 3.750rem;
$font-64: 4.000rem;
$font-66: 4.125rem;
$font-68: 4.250rem;
$font-70: 4.500rem;
$font-72: 4.750rem;
$font-76: 5.000rem;
$font-80: 5.500rem;
$font-100: 6.250rem;
$font-200: 12.500rem;
$font-350: 22.000rem;
$font-400: 25.000rem;