section#footer {
	padding: 120px 0 89px;
	background: url('../img/includes/figure-footer.png');
	background-repeat: no-repeat;
	background-position: 50%;

	@include media-breakpoint-down(md) {
		padding: 90px 0 30px;
	}

	@include media-breakpoint-down(sm) {
		padding: 60px 0 30px;
	}

	a {
		font-family: $light;
		font-size: $font-16;
		color: $dark;
		line-height: $font-32;
		transition: all ease .3s;

		&:hover {
			color: $orange;
		}
	}

	.copyright {
		font-family: $light;
		font-size: $font-14;
		line-height: $font-18;
		padding-top: 18px;
		color: $dark;
	}

	.margin {
		margin-top: 40px;

		@include media-breakpoint-down(xs) {
			margin-top: 15px;
		}
	}

	.social-medias {
		margin-right: 74px;
		display: inline-block;
		vertical-align: -webkit-baseline-middle;

		@include media-breakpoint-down(xs) {
			margin-right: 0;
		}

		@include breakpoint(432px) {
			display: block;
		}

		li {
			display: inline-block;
			margin-right: 27px;

			@include media-breakpoint-down(sm) {
				margin-right: 14px;
			}

			@include breakpoint(432px) {
				
				&:last-child {
					margin-right: 0;
				}
			}

			svg {
				width: 32px;
				height: 32px;
				fill: $orange;
				transition: all ease .5s;

				&:hover {
					fill: $dark;
				}
			}
		}
	}

	.text-footer {
		text-align: left;
		display: inline-block;
		vertical-align: middle;
		color: $purple;
		line-height: $font-32;
		font-size: $font-32;
		letter-spacing: -1px;
		font-family: $extraBold;

		@include media-breakpoint-down(sm) {
			line-height: $font-28;
			font-size: $font-28;
		}

		@include media-breakpoint-down(xs) {
			margin-top: 15px;
		}

		@include breakpoint(432px) {
			text-align: center;
		}
	}

	.logo-footer {
		@include media-breakpoint-down(xs) {
			margin-top: 15px;
		}
	}
}