body {
	font-family: $regular;
	font-size: $base-font-size;
  color: $black;
  overflow-x: hidden;

  .slick-arrow {
    display: none !important;
  }

  .modal-header {
    margin: auto;
    padding: 15px;
    border-bottom: none;
  }

  .modal-dialog {
    max-width: 530px;
    margin: 10vh auto;
  }

  .modal-footer {
    border-top: none;
  }

  .modal-content {
    border: 1px solid $black;
  }

  .clear-fix {
    clear: both;
  }

  .white {
    color: $white;
  }

  .black {
    color: $black;
  }

  .bold {
    font-family: $bold;
  }

  .regular {
   font-family: $regular;
  }

  .font-50 {
    font-size: $font-50;
    //line-height: $font-57;
    line-height: 59px;

    @include media-breakpoint-down(md) {
      font-size: $font-40;
      line-height: 47px;
    }

    @include breakpoint(580px) {
      font-size: $font-30;
      line-height: 37px;
    }
  }

  .font-30 {
    font-size: $font-30;
    line-height: 36px;

    @include breakpoint(580px) {
      font-size: $font-24;
      line-height: 32px;
    }
  }

  .font-25 {
    font-size: $font-25;
    line-height: 30px;
  }

  .font-16 {
    font-size: $base-font-size;
    line-height: 19px;

    @include breakpoint(580px) {
      width: 90%;
      margin: auto;
    }
  }

  .font-15 {
    font-size: $font-15;
    line-height: 18px;

    @include breakpoint(580px) {
      width: 90%;
      margin: auto;
    }
  }

  .font-16-lh-22 {
    font-size: $base-font-size;
    line-height: 22px;

    @include breakpoint(580px) {
      width: 90%;
      margin: auto;
    }
  }

  .font-15-lh-21 {
    font-size: $font-15;
    line-height: 21px;

    @include breakpoint(580px) {
      width: 90%;
      margin: auto;
    }
  }

  .font-12 {
    font-size: $font-12;
    line-height: 25px;
  }

  a {
    cursor: pointer !important;
    text-decoration: none !important;
  }

  .margin-button-infra {
    margin: 100px 0 0;

    @include media-breakpoint-down(sm) {
      margin: 20px 0 0;
    }
  }

  button.btn-enviar {
    background-color: $black;
    transition: all 0.3s linear 0s;
    border: solid $white 2px;
    border-radius: 30px;
    width: 208px;
    height: 57px;
    max-width: 90%;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  .btn-reservar {
    position: relative;
    transition: all 0.3s linear 0s;
    background-color: $black;
    padding: 19px 106px;
    border: 2px solid $black;
    border-radius: 30px; 
    z-index: 2;
    display: inline-block;
    text-align: center;

    @include breakpoint(580px) {
      padding: 14px 0;
      width: 325px;
      max-width: 90%;
    }

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  a.hover-branco {
    &:hover {
      border-color: $white;
    }
  }

  a.hover-banner {
    &:hover {
      border-color: $white;
      color: $white;
      background-color: rgba(0,0,0,0.5);
    }
  }

  div.items-left {
      width: 253px;
      max-width: 100%;

      @include breakpoint(1280px) {
        width: 190px;
      }

      @include breakpoint(580px) {
        width: auto;
      }
    }

    div.items-right {
      width: 214px;
      max-width: 100%;

      @include breakpoint(1280px) {
        width: 190px;
      }

      @include breakpoint(580px) {
        width: auto;
        //text-align: center;
      }
    }
}

ul.slick-dots {
  padding-top: 11px;

  li {
    display: inline-block;
    margin: 3px;

    button {
      height: 9px;
      width: 9px;
      padding: 0;
      font-size: 0;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      background-color: $gray;
    }

    &.slick-active, &:hover {
      cursor: pointer;

      button { 
        background-color: $black;
      }
    }
  }
}

::-webkit-input-placeholder {
   color:$black !important;
   opacity:1 !important;
   font-size: $base-font-size;
   font-family: $regular;
   line-height: 18px;
   
}

:-moz-placeholder { /* Firefox 18- */
   color:$black !important;
   opacity:1 !important;
   font-size: $base-font-size;
   font-family: $regular;
   line-height: 18px;
  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:$black !important;
   opacity:1 !important;
   font-size: $base-font-size;
   font-family: $regular;
   line-height: 18px;
  
}

:-ms-input-placeholder {  
   color:$black !important;
   opacity:1 !important; 
   font-size: $base-font-size;
   font-family: $regular;
   line-height: 18px;
   
}

input{
  @include border-radius(30px);
  border: 1px solid $black;
  background-color: $white;
  height: 57px;
  width: 314px;
  padding-left: 26px;
  color: $black;
  font-size: $base-font-size;
  font-family: $regular;
  line-height: 18px;
  max-width: 100%;

  @include media-breakpoint-down(md) {
    width: 20vw;
  }
}

input.erroInput {
    border: #ad0f0f 2px solid;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
   // border: 1px solid black;
    -webkit-text-fill-color: $black;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

div.wrapper-menu-lista{
  position:absolute;
  right:-100%;
  top:100%;
  width:100%;
  transition:all .5s cubic-bezier(0.55, 0.29, 0.46, 1);
  background-color: $black;
  z-index: 3;
  padding-top:15px;

  ul{
    padding-top: 30px;
    padding-left:5%;
    padding-right:5%;
    display:inline-block;
    vertical-align:top;
    width:100%;

    li{
      float:left;
      clear:both;
        position: relative;
        margin-bottom: 20px;

      p, a{
        color:$white;
        font-family:$bold;
        font-weight:normal;
        font-size:$font-18;
      }
    }
  }
}

div.wrapper-sub-menu{
  position:absolute;
  right:-100%;
  top:100%;
  width:90%;
  max-width:500px;
  transition:all .5s cubic-bezier(0.55, 0.29, 0.46, 1);
  background-color: $black;
  padding-top:15px;
  height:auto;
  z-index: 3;
  display: block;

    p{
      display:inline-block;
      margin-left:5px;
      vertical-align: middle;
    }

  svg{
      width: 20px;
      display:inline-block;
      vertical-align: middle;
  }

  .voltar-menu{
    position: absolute;
    top: -20px;
    left: -30px;
  }

    &.sub-menu-aberto{
      right:0;
    }
}

.menu-open{
  overflow:hidden;

  div.wrapper-menu-lista{
    z-index:3;
    transition:all .5s cubic-bezier(0.55, 0.29, 0.46, 1);
    right:0!important;
    width: 100vw;
    background-color:$black;
  }
}