section#header {
	background-color: $black;

	img.logo-header {
		padding: 22px 0 26px;

		@include media-breakpoint-down(sm) {
			padding: 12px 0 16px;
		}
	}

	div.menu-mobile-btn{
		margin-top: 42px;
	    transition: all 0.5s;

	    @include breakpoint(580px) {
	    	margin-top: 9vw;
	    }

		span{
			width: 35px;
			height: 3px;
			background-color: $black;
			margin: 2px 0 6px;
			display: block;
			transition: all 0.3s ease;

			&:first-child{
				width: 25px;
			}
		}
	}

	p.address {
		padding-top: 13px;
	}

	nav.menus-header {
		padding: 38px 0 0;

		ul {
			
			li {
				display: inline-block;
				margin-right: 30px;
				color: $white;

				@include media-breakpoint-down(md) {
					margin-right: 15px;
				}

				a {
					color: $white;
				}

				&:last-child {
					margin-right: 0 !important;
					margin-left: -15px;		

					@include media-breakpoint-down(md) {
						margin-left: -7px;						
					}			
				}

				a {
					position: relative;
					
					&:after {
						content: '';
						position: absolute;
						bottom: -10px;
					    left: -5%;
					    text-align: center;
					    width: 110%;
					    opacity: 0;
					    height: 4px;
					    transition: all 0.5s linear 0s;
						background-color: $white;
					}

					&:hover {

						&:after {
							opacity: 1;
						}
					}
				}

				a.active {
				
					&:after {
						opacity: 1;
					}
				}

				a.btn-reserva {
					border: 2px solid $white;
				    padding: 8px 15px;
				    border-radius: 18px;
				    transition: all 0.5s ease;
				    text-align: center;

				    &:hover {

				    	&:after {
				    		opacity: 0;
				    	}

				    	background: $white;
				    	color: $black;
				    }
				}
			}
		}
	}
}

section#banners-home {
	position: relative;

	ul.slick-dots {
	    position: relative;
	    bottom: 60px;
	    text-align: center;
	    float: right;
	    width: 100vw;
	}

	@include media-breakpoint-down(sm) {
		background-position: bottom center;
	}

	.wrapper-animation {
		display: none;
	}
	
	h2 {
		position: relative;
		width: 772px;
		max-width: 100%;
		margin: 0 auto 104px;
		z-index: 2;

		@include media-breakpoint-down(lg) {
			margin: 0 auto 10vh;
		}

		@include media-breakpoint-down(sm) {
			margin: 0 auto 5vh;
		}

		@include breakpoint(580px) {
			font-size: $font-23;
			line-height: 30px;
		}
	}

	div.banner {
		position: relative;
		padding: 311px 0 145px;
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		height: 100vh;
		min-height: 400px;
		max-height: 731px;

		@include breakpoint(580px) {
			padding: 100px 0 0;
			height: auto;
		}

		&.banner-1 {
			background-image: url('../img/banner1.jpg');
		}

		&.banner-2 {
			background-image: url('../img/banner2.jpg');
		}

		&.banner-3 {
			background-image: url('../img/banner3.jpg');
		}

		&.banner-4 {
			background-image: url('../img/banner4.jpg');
		}

		&.banner-5 {
			background-image: url('../img/banner5.jpg');
		}

		div.mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.4;
			background-color: $black;
			z-index: 2;
		}
	}
}

.content {
	.slick-list {
    	border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}

.apartamentos, #restaurante {
	.slick-list {
    	border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}

section#cna-negocios {
	padding: 80px 0 0;

	h2 {
		padding-bottom: 40px;
	}
	
	div#grupo-cna {
		width: 100%;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		margin-top: 93px;
		margin-bottom: 30px;

		@include breakpoint(932px) {
			margin-top: 40px;
		}

		.grupo-cna-title {
			padding-bottom: 33px;
			border-bottom: 1px solid #000000;
		}

		.grupo-cna-logos {
			padding: 0;

			@include breakpoint(517px) {
				padding: 0px;
			}

			ul {
				margin-top: 52px;

				li {
					display: inline-block;
					vertical-align: middle;

					@include breakpoint(791px) {
						display: block !important;
						margin: 25px 0px !important;
					}

					&:first-child {
						margin-left: 0px;
					}

					&:last-child {
						margin-right: 0px;
					}

					img {
						max-width: 100%;
					}
				}
			}

			ul.first-ul {
				
				li {
					margin: 0px 5.2%;

					@include breakpoint(932px) {
						margin: 0px 2.5%;
					}

					@include breakpoint(791px) {
						display: block !important;
						margin: 25px 0px !important;
					}
				}
			}

			ul.second-ul {
				
				li {
					margin: 0px 4%;

					@include breakpoint(932px) {
						margin: 0px 2%;
					}

					@include breakpoint(791px) {
						display: block !important;
						margin: 25px 0px !important;
					}
				}
			}
		}
	}
}

section#hotel {
	background-color: $black;
	padding: 153px 0;

	h2 {
		padding-bottom: 15px !important;
	}

	@include media-breakpoint-down(sm) {
		padding: 50px 0;
	}

	 li {
	    &:before {
	    	background-color: $white;
	    }
	}

	.wrapper-arrows {

		div.img-2, div.img-3, div.img-4, div.img-11, div.img-13, div.img-17 {
			background-size: contain !important;
		}

		@include breakpoint(580px) {
			margin-top: 45px;
		}
	}

	ul.slick-dots {

		button {
			background-color: $dark-gray;
		}

		.slick-active, li:hover {
			cursor: pointer;

			button { 
				background-color: $white !important;
			}
	    }
	}
}

section#infraestrutura {
	padding: 73px 0 190px;

	@include media-breakpoint-down(lg) {
		padding: 73px 0 90px;
	}

	@include media-breakpoint-down(sm) {
		padding: 50px 0;
	}

	h2 {

		@include breakpoint(580px) {
			padding-bottom: 0;
		}
	}

	div.wrapper-arrows {
		padding-top: 68px;

		div.img-2, div.img-34, div.img-42, div.img-58, div.img-66{
			background-size: contain !important;
		}

		@include media-breakpoint-down(lg) {
			padding-top: 48px;
		}

		@include media-breakpoint-down(sm) {
			padding-top: 0;
		}
	}
}

section.content {
	position: relative;

	.text {
		padding-right: 30px;

		@include breakpoint(959px) {
			padding-right: 0;
		}
	}

	ul.slick-dots {

		@include breakpoint(960px) {
			text-align: center;
		}
	}

	font {
		font-family: $bold;	
	}

	h2 {
		padding-bottom: 15px;

		@include media-breakpoint-down(sm) {
			padding-bottom: 0;
		}

		@include breakpoint(580px) {
			padding-bottom: 20px;
		}
	}	

	p {
		padding-top: 30px;

		@include media-breakpoint-down(lg) {
		   padding-top: 20px;
		}

		&:first-child {
			padding-top: 0 !important;
		}
	}

	div.wrapper-items {
	    padding-top: 40px;

	    @include media-breakpoint-down(sm) {
	    	width: 90%;
    		margin: auto;
    		padding-top: 20px;
	    }

	    ul {

	      li {

	      	&:before {
	        	content: '';
	        	display: inline-block;
	        	width: 5px;
	        	height: 5px;
	        	border-radius: 50%;
	        	background-color: $black;
	        	margin-right: 5px;
	        	margin-bottom: 3px;
	        }

	        font-family: $regular;
	        font-size: $font-15;
	        line-height: 17px;
	        margin-bottom: 20px;

	        @include breakpoint(580px) {
	    		margin-bottom: 10px;
	    	}
	      }
	    }
  	}

	div.wrapper-arrows {
		z-index: 20;
		//position: absolute;
		//right: 0;
		//width: 854px;
		//max-width: 100%;
		width: auto;
		height: 610px;
		max-width: 45vw;
		margin-left: auto;
		border-radius: 12px;

		@include media-breakpoint-down(lg) {
			width: auto;
			max-width: 100%;
			height: 33.60vw;
		}

		@include media-breakpoint-down(md) {
			position: relative;
			width: 854px;
			height: auto;
			max-width: 100%;
			margin-right: auto;
	    	margin-top: 30px;
		}
	
		div.pictures-infra {
			width: 100%;
			max-width: 854px;
			height: 100%;
			max-height: 620px;
			margin-left: auto;
			border-radius: 12px;

			@include media-breakpoint-down(lg) {
				position: relative;
				width: 854px;
				height: auto;
				max-width: 100%;
				margin-left: auto;
			}

			@include media-breakpoint-down(md) {
				margin-right: auto;
			}

			div.img-infra {
				height: 31vw;
				width: auto;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top center;

				border-top-left-radius: 12px;
	    		border-bottom-left-radius: 12px;
	    		border-top-right-radius: 12px;
	    		border-bottom-right-radius: 12px;

				@include media-breakpoint-down(lg) {
					width: auto;
					max-width: 896px;
					min-width: 500px;
				}

				@include media-breakpoint-down(md) {
					height: 50vw;
					max-width: 100%;
					width: auto;
					border-radius: 12px;
					background-repeat: no-repeat; 
					background-size: cover;
					min-width: 100%;
				}

				@include breakpoint(580px) {
					height: 35vh; 
				}
			}
	 	}

 	}

	div.box-arrows-infra {
		position: absolute;
		bottom: -11px;
		right: 0;

		@include breakpoint(580px) {
			display: none;
		}

		div#prev-infra {
			float: right;
			margin-right: 37px;
			margin-top: 16px;
			cursor: pointer;
		}

		div#next-infra {
			float: right;
			margin-top: 16px;
			cursor: pointer;
		}

	}
}

#p-title {
    padding: 50px 0 0 0;    	
}

section.apartamentos {
	padding: 55px 0 48px;
	background-color: $beige;
	position: relative;

	.text {
		padding-left: 30px;

		@include breakpoint(959px) {
			padding-left: 0;
		}
	}

	ul.slick-dots {
		text-align: right;

		@include breakpoint(960px) {
			text-align: center;
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 50px 0 0;
	}

	@include breakpoint(580px) {
		padding: 20px 0 50px;
	}

    h3 {
    	@include media-breakpoint-down(sm) {
    		padding-top: 80px;
    	}

    	@include breakpoint(580px) {
    		padding-top: 20px;
    	}
    }

	div.img-apto {
		height: 31vw;
		max-width: 100%;
		width: auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;

		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;

		@include media-breakpoint-down(md) {
			height: 50vw;
		}    

    	@include breakpoint(580px) {
    		height: 35vh;
    	}
	}

	.premium {
	
		div.img-5, div.img-18 {
			background-size: contain !important;
		}
	}

	.master {
	
		div.img-8, div.img-20, div.img-32, div.img-35 {
			background-size: contain !important;
		}
	}

    p.description {
    	padding-top: 10px;

    	@include breakpoint(580px) {
    		padding-top: 20px;
    	}
    }

    div.padding-line {
		padding-top: 70px;

		 @include media-breakpoint-down(sm) {
		 	padding-top: 30px;
		 }
	}

    div.wrapper-items {
	    padding-top: 52px;

	    @include media-breakpoint-down(sm) {
	    	width: 90%;
    		margin: auto;
    		padding-top: 30px;
	    }

	    ul {

	      li {
	        
	        &:before {
	        	content: '';
	        	display: inline-block;
	        	width: 5px;
	        	height: 5px;
	        	border-radius: 50%;
	        	background-color: $black;
	        	margin-right: 5px;
	        	margin-bottom: 3px;
	        }

	        font-family: $regular;
	        font-size: $font-15;
	        line-height: 17px;
	        margin-bottom: 20px;
	        list-style: none;

	        @include breakpoint(580px) {
	        	margin-bottom: 14px;
	        }
	      }
	    }
	  }

	div.border-aptos {
	    padding: 36px 0 43px 1vw;
	    margin-bottom: 40px;
	    border-radius: 20px;
  	}

	div.wrapper-arrows {
		z-index: 20;
		//position: absolute;
		//left: 0;
		//width: 47vw;
		width: 100%;
		height: 100%;
		max-height: 31vw;
		margin-right: auto;

		@include media-breakpoint-down(lg) {
			max-width: 100%;
			height: 33.60vw;
		}

		@include media-breakpoint-down(md) {
			position: relative;
			height: auto;
			max-width: 100%;
			margin-right: auto;
			margin-left: auto;
			max-height: 100%;
		}

		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		div.pics-apto {
			width: 47vw;
			max-width: 100%;
			height: 100%;
			max-height: 31vw;
			margin: 0 auto;
			border-radius: 12px;

			@include media-breakpoint-down(md) {
				max-height: 100%;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}

		div.box-arrows-apto {
			position: absolute;
			bottom: -11px;
			right: 0;

			@include breakpoint(580px) {
				display: none;
			}
	
			div.prev-arrow-apto {
				float: right;
				margin-right: 37px;
				margin-top: 16px;
				cursor: pointer;
			}

			div.next-arrow-apto {
				float: right;
				margin-top: 16px;
				cursor: pointer;
			}
		}

	}

	div.box-bottom-apto {

		p.warning {
			padding: 50px 0 55px;

			@include media-breakpoint-down(sm) {
				padding: 25px 0;
			}

			@include breakpoint(580px) {
				width: 90%;
				margin: auto;
			}
		}

		div.text-center{
			
			a {
				text-align: center;
			}
		}
	}
}

section#restaurante {
	position: relative;
	background-color: $red;
	padding: 98px 0 174px;

	.text {
		padding-left: 30px;

		@include breakpoint(959px) {
			padding-left: 0;
		}
	}

	@include media-breakpoint-down(lg) {
		padding: 70px 0 110px;
	}

	@include media-breakpoint-down(md) {
		margin-top: 30px;
	}

	@include media-breakpoint-down(sm) {
		padding: 50px 0;
	}

	@include breakpoint(580px) {
		margin-top: 0;
	}

	ul.slick-dots {
		text-align: right;

		@include breakpoint(960px) {
			text-align: center;
		}
	}

	.logo {
		width: 130px;
		margin-bottom: 2.5vw;

		@include media-breakpoint-down(md) {
			margin: 0 auto 32px auto;
			display: block;
		}

		@include media-breakpoint-down(sm) {
			margin: 0 auto 50px;
		}

		@include breakpoint(580px) {
			margin-bottom: 20px;
		}
	}

	h2 {
		padding: 0 0 78px;

		@include media-breakpoint-down(sm) {
			padding-bottom: 20px;
		}
	}

	p {
		padding-bottom: 30px;

		@include media-breakpoint-down(lg) {
			padding-bottom: 20px;
		}
	}

	.no-padding {
		padding-bottom: 0;
	}

	div.img-rest {
		height: 31vw;
		//height: 23vw;
		max-width: 100%;
		//width: 46vw;
		width: 100%;
		background-repeat: no-repeat;
		//background-size: contain;
		background-size: cover;
		background-position: top center;

		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;

		@include media-breakpoint-down(sm) {
			height: 50vw;
			width: 100%;
		}

		@include breakpoint(580px) {
			height: 35vh; 
		}
	}

	div.wrapper-arrows {
		z-index: 20;
		//position: absolute;
		//top: 35.5%;
		//top: 29%;
		//transform: translateY(-50%);
		//left: 0;
		width: 46vw;
		height: 39.28vh;
		max-height: 100%;
		max-width: 100%;
		margin-left: auto;
	    z-index: 10;

	   /* @include media-breakpoint-down(lg) {
	    	top: 28%;
	    }

		@include media-breakpoint-down(md) {
			top: 35.5%;
			display: none;
		}*/

		div.pictures-rest {
			width: 46vw;
			max-width: 100%;
			height: 31vw;
			max-height: 100%;
			margin-left: auto;
			border-radius: 12px;

			@include media-breakpoint-down(md) {
				margin-right: auto;
			}

			@include media-breakpoint-down(sm) {
				width: 100%;
				height: 50vw;
			}
		}

		div.box-arrows-rest {
			position: absolute;
			bottom: -11px;
			right: 0;

			@include breakpoint(580px) {
				display: none;
			}

			div#prev-rest {
				float: right;
				margin-right: 37px;
				margin-top: 16px;
				cursor: pointer;
			}

			div#next-rest {
				float: right;
				margin-top: 16px;
				cursor: pointer;
			}

		}

	}

	.container div.wrapper-arrows {
		//display: none;
		position: relative;
	    top: 0;
	    transform: none;
	    left: 0;
	    width: 100%;
	    height: auto;
	    max-height: auto;
	    max-width: auto;
		margin: 10px auto 30px;
		
		div.pictures-rest { 
			height: auto;
		}
		
		@include media-breakpoint-down(md) {
			display: block;
		}
	}

	a.btn-reservar {
		margin-top: 65px;

		@include media-breakpoint-down(lg) {
			margin-top: 40px;
			padding: 19px 0;
			width: 325px;
    		max-width: 90%;
    		text-align: center;
		}

		@include breakpoint(580px) {
			margin-top: 20px;
			padding: 16px 0;
		}
	}
}

section#localizacao {
	height: 816px;
	
	@include media-breakpoint-down(lg) {
		height: 90vh;
	}

	iframe {
		height: 100%;
	}
}

section#reservas {
	background-color: $black;
	padding: 80px 0 65px;

	@include media-breakpoint-down(sm) {
		padding: 50px 0;
	}

	p {
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 57px;

		@include media-breakpoint-down(sm) {
			display: block;
			margin: 0 auto 20px;

			br {
				display: none;
			}
		}
	}

	form {
		display: inline-block;

		@include media-breakpoint-down(sm) {
			display: block;
		}

		input#Enome {
			display: inline-block;
			margin-right: 25px;

			@include media-breakpoint-down(md) {
				margin-right: 15px;
			}

			@include media-breakpoint-down(sm) {
				display: block;
				margin: 20px auto 0;
				width: 90%;
			}
		}

		input#Eemail {
			margin-right: 21px;	

			@include media-breakpoint-down(md) {
				margin-right: 11px;
			}		

			@include media-breakpoint-down(sm) {
				display: block;
				margin: 20px auto 0;
				width: 90%;
			}		
		}
	}

	button.btn-enviar {
		display: inline-block;

		@include media-breakpoint-down(sm) {
			display: block;
			margin: 20px auto 0;
		}
	}
}

section#footer {
	padding-bottom: 67px;
	background-color: $black;

	@include media-breakpoint-down(sm) {
		padding-bottom: 25px;	
	}

	img {
		float: left;
		margin-top: 10px;

		@include breakpoint(400px) {
			float: none;
			margin-bottom: 10px;
		}
	}

	.info-footer {
		float: right;

		img {
			margin-top: 10px;
			float: right;
			width: 130px;
		}

		@include breakpoint(400px) {
			float: none;
		}
	}
}