﻿.page-itapema {
    font-size: $base-font-size;
    line-height: $font-22;
    @include media-breakpoint-down(lg) {
        line-height: $font-20;
    }
    .main {
        .title-principal {
            position: relative;
            width: 772px;
            max-width: 100%;
            margin: 0 auto;
        }
        .title {
            font-size: $font-30;
            line-height: $font-35;
            font-family: $bold;
            color: $black;
            @include media-breakpoint-down(sm) {
                font-size: $font-20;
            }
        }
        p {
            margin-bottom: $font-25;
            @include media-breakpoint-down(lg) {
                margin-bottom: $font-20;
            }
            strong {
                font-family: $bold;
            }
        }
        #banners-home {
            height: auto !important;
            .banner {
                &.banner-1 {
                    height: 100vh;
                    min-height: 500px;
                    max-height: 731px;
                    background-image: url('../img/banner-itapema.jpg') !important;
                    @media screen and (orientation: portrait) {
                        height: 100vh;
                        height: calc(100vh -100px);
                        min-height: auto;
                        max-height: auto;
                        padding-top: 37vh;
                    }
                    
                }   
            }
        } 
    }
}

section#itapema {
    padding-top: 98px;
    padding-bottom: 81px;
    @include media-breakpoint-down(sm) {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .title {
        margin-bottom: 64px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 33px;
        }
    }
    p {
        margin-bottom: 1.625rem;//26px
    }
} 

section#atividades {
    padding-bottom: 72px;
    @include media-breakpoint-down(sm) {
        padding-bottom: 10px;
    }
    .title {
        width: 100%;
        margin-bottom: 87px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 33px;
        }
    }
    .atividade {
        position: relative;
        
        min-height: 202px;
        text-align: right;
        .img {
            float:left;
            margin-right: $base-font-size;
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        .img2 {
            display: none;
            @include media-breakpoint-down(sm) {
                display: block;
                margin: 1.75rem auto 0 auto; // 28px
            }
        }
        .subtitle {
            font-family: $bold;
            line-height: 24px;
            margin-bottom: 1.4375rem;//23px
            text-align: left;
            @include media-breakpoint-down(sm) {
                font-size: $font-18;
            }
        }
        p {
            display: inline-block;
            width: calc(100% - 278px);
            text-align: left;
            @include media-breakpoint-down(sm) {
                width: auto;
            }
            &.last {
                margin-bottom: 0;
            }
        }
        .link-atividade {
            // position: absolute;
            // left: 276px;
            // bottom: -30px;
            display: inline-block;
            width: calc(70% - 278px);
            margin-right: 30%;
            text-align: left;
            text-transform: uppercase;
            font-family: $bold;
            color: $black;
            margin-bottom: 87px;
            margin-top: 41px;
            transition: all .5s;
            &::before {
                content: '';
                display: inline-block;
                margin: 0 5px 5px 0;
                width: 37px;
                height: 2px;
                background-color: $black;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }
            &:hover::before {
                width: 44px;
            }
            @include media-breakpoint-down(sm) {
                margin: 30px 0 45px 0;
                width: auto;
                display: block;
                text-align: center;
            }
        }
    }
} 

section.aeroportos {
    padding: 38px 0 18px;
    position: relative;
    @include media-breakpoint-down(sm) {
        padding-top: 43px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color: #FAFAFA;
        background-image: url('../img/departures.svg');
        background-repeat: no-repeat;
        background-position: 90% 50%;
        @include breakpoint(1400px) {
            width: 100vw;
            background-repeat: no-repeat;
            background-position: 90% 50%;
        }
        @include media-breakpoint-down(sm) {
            background-position: 92% 6%;
            background-size: 30%;
        }
    }
    .title {
        text-transform: uppercase;
        margin-bottom: 48px;
        @include media-breakpoint-down(sm) {

            margin-bottom: 58px;
        }
    }
    .container p {
        margin-bottom: $font-40;
    }
    strong {
        display: block;
        color: $black;
        text-transform: uppercase;        
        margin-bottom: $font-24;
    }
}
section.distancia {
    padding: 36px 0 40px;
    .title {
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .table {
        line-height: $font-20;
        td, th {
            padding: 14px 0 9px;
        }
        th {
            border-top: none;
            padding-bottom: 45px;
            border-bottom: none; 
        }
        tr {
            td {
                border-top: none;
                border-bottom: 1px solid #e9ecef; 
            }
            &.last {
                td {

                }
            }
        }
    }
}