// breakpoint
@mixin breakpoint($size) {
    @media screen and (max-width: $size) { @content; }
}

@mixin timeline($child, $year) {
	&:nth-child(#{$child}){

		&:before{
			content: $year;
		}
	}
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder { color: $color; }  /* WebKit, Blink, Edge */
	&:-moz-placeholder { color: $color; }  /* Mozilla Firefox 4 to 18 */
	&::-moz-placeholder { color: $color; }  /* Mozilla Firefox 19+ */
	&:-ms-input-placeholder { color: $color; }  /* Internet Explorer 10-11 */
	&::-ms-input-placeholder { color: $color; }  /* Microsoft Edge */
}

@mixin button-bg($color) {
	background-color: $color;

	&:hover {
		background-color: darken($color, 8%);
		transition: all 0.3s ease;
	}

	&:active { background-color: darken($color, 25%); }
}

@mixin framed-pic($orientation: normal) {
	position: relative;
	@if $orientation == 'invert' {
		float: right;
	} @else {
		float: left;
	}
	z-index: 1;

	@include media-breakpoint-down(lg) {
		margin: 35px auto 0;
		float: none;
		display: table;
	}

	&:before {
		content: '';
		background-color: transparent;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 11px;
		left: 19px;
		border: 3px solid $red;
		@if $orientation == 'invert' {
			@include transform(rotate(-15deg));
		} @else {
			@include transform(rotate(15deg));
		}
		z-index: -1;
	}
}

