$blue: #1B2668;
$orange: #FD4138;
$cyan: #00B19F;
$gray: #B9C6D1;
$white: #FFFFFF;
$black: #000000;
$dark: #3F3E3E;
$purple: #5C279E;

$container-max-widths: (
	sm: 960px,
	md: 1230px,
	lg: 1590px,
	xl: 1640px
);

$grid-breakpoints: (
	xs: 0,
	sm: 580px,
	md: 960px,
	lg: 1230px,
	xl: 1590px
);
